proyectoGasolinera/Connected Services/wsBombaCombustible/wsBombacombustible.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listado_bombacombustible">
        <s:complexType />
      </s:element>
      <s:element name="listado_bombacombustibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listado_bombacombustibleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_bombacombustible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="capacidad" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="idSucursal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_bombacombustibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertar_bombacombustibleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_bombacombustible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idBombaCombustible" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="capacidad" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="idSucursal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_bombacombustibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizar_bombacombustibleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_bombacombustible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idBombaCombustible" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_bombacombustibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminar_bombacombustibleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listado_bombacombustibleSoapIn">
    <wsdl:part name="parameters" element="tns:listado_bombacombustible" />
  </wsdl:message>
  <wsdl:message name="listado_bombacombustibleSoapOut">
    <wsdl:part name="parameters" element="tns:listado_bombacombustibleResponse" />
  </wsdl:message>
  <wsdl:message name="insertar_bombacombustibleSoapIn">
    <wsdl:part name="parameters" element="tns:insertar_bombacombustible" />
  </wsdl:message>
  <wsdl:message name="insertar_bombacombustibleSoapOut">
    <wsdl:part name="parameters" element="tns:insertar_bombacombustibleResponse" />
  </wsdl:message>
  <wsdl:message name="actualizar_bombacombustibleSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar_bombacombustible" />
  </wsdl:message>
  <wsdl:message name="actualizar_bombacombustibleSoapOut">
    <wsdl:part name="parameters" element="tns:actualizar_bombacombustibleResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_bombacombustibleSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_bombacombustible" />
  </wsdl:message>
  <wsdl:message name="eliminar_bombacombustibleSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_bombacombustibleResponse" />
  </wsdl:message>
  <wsdl:portType name="wsBombacombustibleSoap">
    <wsdl:operation name="listado_bombacombustible">
      <wsdl:input message="tns:listado_bombacombustibleSoapIn" />
      <wsdl:output message="tns:listado_bombacombustibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar_bombacombustible">
      <wsdl:input message="tns:insertar_bombacombustibleSoapIn" />
      <wsdl:output message="tns:insertar_bombacombustibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar_bombacombustible">
      <wsdl:input message="tns:actualizar_bombacombustibleSoapIn" />
      <wsdl:output message="tns:actualizar_bombacombustibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_bombacombustible">
      <wsdl:input message="tns:eliminar_bombacombustibleSoapIn" />
      <wsdl:output message="tns:eliminar_bombacombustibleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsBombacombustibleSoap" type="tns:wsBombacombustibleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_bombacombustible">
      <soap:operation soapAction="http://tempuri.org/listado_bombacombustible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_bombacombustible">
      <soap:operation soapAction="http://tempuri.org/insertar_bombacombustible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_bombacombustible">
      <soap:operation soapAction="http://tempuri.org/actualizar_bombacombustible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_bombacombustible">
      <soap:operation soapAction="http://tempuri.org/eliminar_bombacombustible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsBombacombustibleSoap12" type="tns:wsBombacombustibleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_bombacombustible">
      <soap12:operation soapAction="http://tempuri.org/listado_bombacombustible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_bombacombustible">
      <soap12:operation soapAction="http://tempuri.org/insertar_bombacombustible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_bombacombustible">
      <soap12:operation soapAction="http://tempuri.org/actualizar_bombacombustible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_bombacombustible">
      <soap12:operation soapAction="http://tempuri.org/eliminar_bombacombustible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsBombacombustible">
    <wsdl:port name="wsBombacombustibleSoap" binding="tns:wsBombacombustibleSoap">
      <soap:address location="http://localhost/pruebas/pruebas/wsBombacombustible.asmx" />
    </wsdl:port>
    <wsdl:port name="wsBombacombustibleSoap12" binding="tns:wsBombacombustibleSoap12">
      <soap12:address location="http://localhost/pruebas/pruebas/wsBombacombustible.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>