proyectoGasolinera/Connected Services/wsTipoUsuario/wsTipoUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listado_tipousuario">
        <s:complexType />
      </s:element>
      <s:element name="listado_tipousuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listado_tipousuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_tipousuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreTipoUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_tipousuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertar_tipousuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_tipousuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTipoUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreTipoUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_tipousuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizar_tipousuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_tipousuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTipoUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_tipousuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminar_tipousuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listado_tipousuarioSoapIn">
    <wsdl:part name="parameters" element="tns:listado_tipousuario" />
  </wsdl:message>
  <wsdl:message name="listado_tipousuarioSoapOut">
    <wsdl:part name="parameters" element="tns:listado_tipousuarioResponse" />
  </wsdl:message>
  <wsdl:message name="insertar_tipousuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertar_tipousuario" />
  </wsdl:message>
  <wsdl:message name="insertar_tipousuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertar_tipousuarioResponse" />
  </wsdl:message>
  <wsdl:message name="actualizar_tipousuarioSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar_tipousuario" />
  </wsdl:message>
  <wsdl:message name="actualizar_tipousuarioSoapOut">
    <wsdl:part name="parameters" element="tns:actualizar_tipousuarioResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_tipousuarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_tipousuario" />
  </wsdl:message>
  <wsdl:message name="eliminar_tipousuarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_tipousuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTipoUsuarioSoap">
    <wsdl:operation name="listado_tipousuario">
      <wsdl:input message="tns:listado_tipousuarioSoapIn" />
      <wsdl:output message="tns:listado_tipousuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar_tipousuario">
      <wsdl:input message="tns:insertar_tipousuarioSoapIn" />
      <wsdl:output message="tns:insertar_tipousuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar_tipousuario">
      <wsdl:input message="tns:actualizar_tipousuarioSoapIn" />
      <wsdl:output message="tns:actualizar_tipousuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_tipousuario">
      <wsdl:input message="tns:eliminar_tipousuarioSoapIn" />
      <wsdl:output message="tns:eliminar_tipousuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTipoUsuarioSoap" type="tns:wsTipoUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_tipousuario">
      <soap:operation soapAction="http://tempuri.org/listado_tipousuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_tipousuario">
      <soap:operation soapAction="http://tempuri.org/insertar_tipousuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_tipousuario">
      <soap:operation soapAction="http://tempuri.org/actualizar_tipousuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_tipousuario">
      <soap:operation soapAction="http://tempuri.org/eliminar_tipousuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTipoUsuarioSoap12" type="tns:wsTipoUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_tipousuario">
      <soap12:operation soapAction="http://tempuri.org/listado_tipousuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_tipousuario">
      <soap12:operation soapAction="http://tempuri.org/insertar_tipousuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_tipousuario">
      <soap12:operation soapAction="http://tempuri.org/actualizar_tipousuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_tipousuario">
      <soap12:operation soapAction="http://tempuri.org/eliminar_tipousuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTipoUsuario">
    <wsdl:port name="wsTipoUsuarioSoap" binding="tns:wsTipoUsuarioSoap">
      <soap:address location="http://localhost/pruebas/pruebas/wsTipoUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTipoUsuarioSoap12" binding="tns:wsTipoUsuarioSoap12">
      <soap12:address location="http://localhost/pruebas/pruebas/wsTipoUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>