proyectoGasolinera/Connected Services/wsFormaPago/wsFormaPago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listaFormasdePago">
        <s:complexType />
      </s:element>
      <s:element name="listaFormasdePagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaFormasdePagoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_FormadePago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoFormaPago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_FormadePagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertar_FormadePagoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_formapago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFormaPago" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoFormaPago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_formapagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizar_formapagoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_formapago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFormaPago" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_formapagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminar_formapagoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscar_formapago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFormaPago" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscar_formapagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscar_formapagoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listaFormasdePagoSoapIn">
    <wsdl:part name="parameters" element="tns:listaFormasdePago" />
  </wsdl:message>
  <wsdl:message name="listaFormasdePagoSoapOut">
    <wsdl:part name="parameters" element="tns:listaFormasdePagoResponse" />
  </wsdl:message>
  <wsdl:message name="insertar_FormadePagoSoapIn">
    <wsdl:part name="parameters" element="tns:insertar_FormadePago" />
  </wsdl:message>
  <wsdl:message name="insertar_FormadePagoSoapOut">
    <wsdl:part name="parameters" element="tns:insertar_FormadePagoResponse" />
  </wsdl:message>
  <wsdl:message name="actualizar_formapagoSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar_formapago" />
  </wsdl:message>
  <wsdl:message name="actualizar_formapagoSoapOut">
    <wsdl:part name="parameters" element="tns:actualizar_formapagoResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_formapagoSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_formapago" />
  </wsdl:message>
  <wsdl:message name="eliminar_formapagoSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_formapagoResponse" />
  </wsdl:message>
  <wsdl:message name="buscar_formapagoSoapIn">
    <wsdl:part name="parameters" element="tns:buscar_formapago" />
  </wsdl:message>
  <wsdl:message name="buscar_formapagoSoapOut">
    <wsdl:part name="parameters" element="tns:buscar_formapagoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsFormaPagoSoap">
    <wsdl:operation name="listaFormasdePago">
      <wsdl:input message="tns:listaFormasdePagoSoapIn" />
      <wsdl:output message="tns:listaFormasdePagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar_FormadePago">
      <wsdl:input message="tns:insertar_FormadePagoSoapIn" />
      <wsdl:output message="tns:insertar_FormadePagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar_formapago">
      <wsdl:input message="tns:actualizar_formapagoSoapIn" />
      <wsdl:output message="tns:actualizar_formapagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_formapago">
      <wsdl:input message="tns:eliminar_formapagoSoapIn" />
      <wsdl:output message="tns:eliminar_formapagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscar_formapago">
      <wsdl:input message="tns:buscar_formapagoSoapIn" />
      <wsdl:output message="tns:buscar_formapagoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsFormaPagoSoap" type="tns:wsFormaPagoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listaFormasdePago">
      <soap:operation soapAction="http://tempuri.org/listaFormasdePago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_FormadePago">
      <soap:operation soapAction="http://tempuri.org/insertar_FormadePago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_formapago">
      <soap:operation soapAction="http://tempuri.org/actualizar_formapago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_formapago">
      <soap:operation soapAction="http://tempuri.org/eliminar_formapago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar_formapago">
      <soap:operation soapAction="http://tempuri.org/buscar_formapago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsFormaPagoSoap12" type="tns:wsFormaPagoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listaFormasdePago">
      <soap12:operation soapAction="http://tempuri.org/listaFormasdePago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_FormadePago">
      <soap12:operation soapAction="http://tempuri.org/insertar_FormadePago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_formapago">
      <soap12:operation soapAction="http://tempuri.org/actualizar_formapago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_formapago">
      <soap12:operation soapAction="http://tempuri.org/eliminar_formapago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar_formapago">
      <soap12:operation soapAction="http://tempuri.org/buscar_formapago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsFormaPago">
    <wsdl:port name="wsFormaPagoSoap" binding="tns:wsFormaPagoSoap">
      <soap:address location="http://localhost/pruebas/pruebas/wsFormaPago.asmx" />
    </wsdl:port>
    <wsdl:port name="wsFormaPagoSoap12" binding="tns:wsFormaPagoSoap12">
      <soap12:address location="http://localhost/pruebas/pruebas/wsFormaPago.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>