proyectoGasolinera/Connected Services/wsUsuario/wsUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listado_usuarios">
        <s:complexType />
      </s:element>
      <s:element name="listado_usuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listado_usuariosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEmpleado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipoUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertar_usuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEmpleado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipoUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizar_usuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminar_usuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listado_usuariosSoapIn">
    <wsdl:part name="parameters" element="tns:listado_usuarios" />
  </wsdl:message>
  <wsdl:message name="listado_usuariosSoapOut">
    <wsdl:part name="parameters" element="tns:listado_usuariosResponse" />
  </wsdl:message>
  <wsdl:message name="usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:usuario" />
  </wsdl:message>
  <wsdl:message name="usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="insertar_usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertar_usuario" />
  </wsdl:message>
  <wsdl:message name="insertar_usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertar_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="actualizar_usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar_usuario" />
  </wsdl:message>
  <wsdl:message name="actualizar_usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:actualizar_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_usuario" />
  </wsdl:message>
  <wsdl:message name="eliminar_usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_usuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="wsUsuarioSoap">
    <wsdl:operation name="listado_usuarios">
      <wsdl:input message="tns:listado_usuariosSoapIn" />
      <wsdl:output message="tns:listado_usuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="usuario">
      <wsdl:input message="tns:usuarioSoapIn" />
      <wsdl:output message="tns:usuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar_usuario">
      <wsdl:input message="tns:insertar_usuarioSoapIn" />
      <wsdl:output message="tns:insertar_usuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar_usuario">
      <wsdl:input message="tns:actualizar_usuarioSoapIn" />
      <wsdl:output message="tns:actualizar_usuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_usuario">
      <wsdl:input message="tns:eliminar_usuarioSoapIn" />
      <wsdl:output message="tns:eliminar_usuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsUsuarioSoap" type="tns:wsUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_usuarios">
      <soap:operation soapAction="http://tempuri.org/listado_usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuario">
      <soap:operation soapAction="http://tempuri.org/usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_usuario">
      <soap:operation soapAction="http://tempuri.org/insertar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_usuario">
      <soap:operation soapAction="http://tempuri.org/actualizar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_usuario">
      <soap:operation soapAction="http://tempuri.org/eliminar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsUsuarioSoap12" type="tns:wsUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_usuarios">
      <soap12:operation soapAction="http://tempuri.org/listado_usuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuario">
      <soap12:operation soapAction="http://tempuri.org/usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_usuario">
      <soap12:operation soapAction="http://tempuri.org/insertar_usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_usuario">
      <soap12:operation soapAction="http://tempuri.org/actualizar_usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_usuario">
      <soap12:operation soapAction="http://tempuri.org/eliminar_usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsUsuario">
    <wsdl:port name="wsUsuarioSoap" binding="tns:wsUsuarioSoap">
      <soap:address location="http://localhost/pruebas/pruebas/wsUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="wsUsuarioSoap12" binding="tns:wsUsuarioSoap12">
      <soap12:address location="http://localhost/pruebas/pruebas/wsUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>