proyectoGasolinera/Connected Services/wsCombustibleDisponible/wsCombustibleDisponible.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Combustible_Disponible">
        <s:complexType />
      </s:element>
      <s:element name="Combustible_DisponibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Combustible_DisponibleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insertar_Combustible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTipo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idBomba" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="galonesDisponibles" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insertar_CombustibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Insertar_CombustibleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCombustible" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idBomba" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="galonesDisponibles" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_Combustible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTipoCombustible" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_CombustibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminar_CombustibleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscar_Combustible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCombustible" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscar_CombustibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscar_CombustibleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Combustible_DisponibleSoapIn">
    <wsdl:part name="parameters" element="tns:Combustible_Disponible" />
  </wsdl:message>
  <wsdl:message name="Combustible_DisponibleSoapOut">
    <wsdl:part name="parameters" element="tns:Combustible_DisponibleResponse" />
  </wsdl:message>
  <wsdl:message name="Insertar_CombustibleSoapIn">
    <wsdl:part name="parameters" element="tns:Insertar_Combustible" />
  </wsdl:message>
  <wsdl:message name="Insertar_CombustibleSoapOut">
    <wsdl:part name="parameters" element="tns:Insertar_CombustibleResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_CombustibleSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_Combustible" />
  </wsdl:message>
  <wsdl:message name="eliminar_CombustibleSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_CombustibleResponse" />
  </wsdl:message>
  <wsdl:message name="buscar_CombustibleSoapIn">
    <wsdl:part name="parameters" element="tns:buscar_Combustible" />
  </wsdl:message>
  <wsdl:message name="buscar_CombustibleSoapOut">
    <wsdl:part name="parameters" element="tns:buscar_CombustibleResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCombustibleDisponibleSoap">
    <wsdl:operation name="Combustible_Disponible">
      <wsdl:input message="tns:Combustible_DisponibleSoapIn" />
      <wsdl:output message="tns:Combustible_DisponibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_Combustible">
      <wsdl:input message="tns:Insertar_CombustibleSoapIn" />
      <wsdl:output message="tns:Insertar_CombustibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <wsdl:input message="tns:actualizarSoapIn" />
      <wsdl:output message="tns:actualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_Combustible">
      <wsdl:input message="tns:eliminar_CombustibleSoapIn" />
      <wsdl:output message="tns:eliminar_CombustibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscar_Combustible">
      <wsdl:input message="tns:buscar_CombustibleSoapIn" />
      <wsdl:output message="tns:buscar_CombustibleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCombustibleDisponibleSoap" type="tns:wsCombustibleDisponibleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Combustible_Disponible">
      <soap:operation soapAction="http://tempuri.org/Combustible_Disponible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Combustible">
      <soap:operation soapAction="http://tempuri.org/Insertar_Combustible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <soap:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_Combustible">
      <soap:operation soapAction="http://tempuri.org/eliminar_Combustible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar_Combustible">
      <soap:operation soapAction="http://tempuri.org/buscar_Combustible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCombustibleDisponibleSoap12" type="tns:wsCombustibleDisponibleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Combustible_Disponible">
      <soap12:operation soapAction="http://tempuri.org/Combustible_Disponible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Combustible">
      <soap12:operation soapAction="http://tempuri.org/Insertar_Combustible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <soap12:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_Combustible">
      <soap12:operation soapAction="http://tempuri.org/eliminar_Combustible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar_Combustible">
      <soap12:operation soapAction="http://tempuri.org/buscar_Combustible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCombustibleDisponible">
    <wsdl:port name="wsCombustibleDisponibleSoap" binding="tns:wsCombustibleDisponibleSoap">
      <soap:address location="http://localhost/pruebas/pruebas/wsCombustibleDisponible.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCombustibleDisponibleSoap12" binding="tns:wsCombustibleDisponibleSoap12">
      <soap12:address location="http://localhost/pruebas/pruebas/wsCombustibleDisponible.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>